<div class="row">
  <div class="col-6">
    <h2 *ngIf="selectedCourse">Course: {{selectedCourse.courseTitle}}</h2>
    <p *ngIf="selectedCourse">{{selectedCourse.courseDescription}}</p>

  </div>

  <div class="col-6">
    <h2>Sequences</h2>
    <div *ngFor="let sequence of sequencesToShow">
      <div class="card">
        <div class="card-header">{{sequence.sequenceTitle}}</div>
        <div class="card-block">
            <p>{{sequence.sequenceDescription}}</p>
          <button  [routerLink]="['/student/sequence', sequence._id]" class="btn btn-primary"  [class.selected]="sequence === selectedCourse">View</button>
        </div>
      </div>
    </div>
  </div>




