<div class="row">
  <div class="col-6">
    <h2 *ngIf="selectedSequence">Sequence: {{selectedSequence.sequenceTitle}}</h2>
    <p *ngIf="selectedSequence">Description: {{selectedSequence.sequenceDescription}}</p>

  </div>

  <div class="col-6">
    <h3>Questions</h3>
    <div *ngFor="let question of questionsToShow">
      <div class="card">
        <div class="card-header">{{question.questionTitle}}</div>
        <div class="card-block">
          <div *ngIf="myUserService.hasUserAlreadyAnsweredQuestion(question._id); then answeredContent else notAnsweredContent"></div>
             <ng-template #answeredContent><p>This question has been answered correctly<md-icon layout-align="center end">done</md-icon></p></ng-template>
             <ng-template #notAnsweredContent><p>This answer has not been answered correctly</p>
               <button  [routerLink]="['/student/question', question._id]" class="btn btn-primary"  [class.selected]="sequence === selectedCourse">Answer</button>
             </ng-template>
             </div>
         </div>
      </div>
    </div>
  </div>





