<div class="jumbotron">
  <h1>Learn To Code!</h1>
  <p>This is a prototype of the Learn To Code app which is under development.</p>
  <p>There is now interaction (albeit shakey) between client and server.</p>
  <p>Additionally, the question/answer framework which is currently in use does not require code submission, but is instead based on simple
  one word answers.</p>
  <p>You will need to login as a teacher to create courses, sequences and questions.</p>
  <p>You will need to login as a student to answer questions.</p>
  <p>Example login details are given on the login page.</p>
</div>
